{% include "base.html" %}

<form action="/Authors/id" method="POST">
  <div class="mb-3">
    <label form="class=form-label">LAST NAME</label>
    <input type="text" class="form-control" name="last_name" placeholder="last_name" />
  </div>
  <div class="mb-3">
    <label form="class=form-label">NAMES</label>
    <input type="text" class="form-control" name="names" placeholder="names" />
  </div>
  <div class="mb-3">
    <label form="class=form-label">NATIONALITY</label>
    <input type="text" class="form-control" name="nationality" placeholder="nationality" />
  </div>

  <button type="submit">Save</button>
</form>