{% extends 'base.html' %}


{% block titulo %}
EDIT AUTHOR
{% endblock %}

{% block content %}
<div classs="row">
    <div class="col 4"></div>
    <div class="col 4"></div>
    <form action="/Books/update/{{ title.0 }}" methods="POST">
        <input type="hidden" name="id" value="{{ author.0 }}">

        <div class="mb-3">
            <label for="authors" class="form-label">LAST NAME</label>
            <input required type="text" class="input" placeholder="last_name" name="last_name" value="{{ author.0 }}">
        </div>
        <div class="mb-3">
            <label for="authors" class="form-label">NAMES</label>
            <input required type="text" class="input" placeholder="names" name="names" value="{{ author.1 }}">
        </div>
        <div class="mb-3">
            <label for="authors" class="form-label">NATIONALITY</label>
            <input required type="text" class="input" placeholder="nationality" name="nationality"
                value="{{ author.2 }}">
        </div>

</div>
<button type="submit" class="btn btn-primary btn-block">
    Update
</button>
{% endblock %}

{% include "footer.html" %}

<div class="col 4"></div>
</div>
</form>